body {
    padding: 25%;
    position: center;
    display: flex;
    justify-content: center;
}
.OutBox {
    background-color: antiquewhite;
    width: 25%;
    height: 300px;
    display: flex;
    justify-content: center;
    padding: 25%;
}
.InBox {
    background-color: brown;
    width: 250px;
    height: 150px;
    padding: 15px;
}
p {
    position: inherit;
    display: flex;
    justify-content: center;
    padding: auto;
}
